





<div class="boarding-section">
        
    <div class="banner-boarding-style-3">
        <img src="assets/images/avt/cam.png" alt="avatar">
<!--         <div class="title">VENDRICOM</div>
 -->        <p class="mt-12"></p>
    </div>
    <div class="box-boarding-fixed">
        <div class="swiper tf-swiper-2" data-space-between="24" data-preview="1" data-tablet="1" data-desktop="1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="content-boarding-sw">
                        <h1>Bienvenidos a tu Biblioteca de Documentos</h1>
  <!--                             <p>Regístrate y disfruta de las bondades de esta app. Información organizada, consultas avanzadas y acceso fácil a todos tus documentos en un solo lugar.</p>
  -->                        </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-boarding-sw">
                        <h1>Información Organizada al Alcance de tu Mano</h1>
  <!--                             <p>Explora una biblioteca de documentos perfectamente organizada. Encuentra lo que necesitas rápidamente con nuestras herramientas de búsqueda avanzadas.</p>
  -->                        </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-boarding-sw">
                        <h1>Búsqueda Avanzada y Acceso Fácil</h1>
  <!--                             <p>Consulta tus documentos de manera eficiente y accede a ellos cuando lo necesites. Nuestra app te ofrece un acceso rápido y seguro a todos tus archivos importantes.</p>
  -->                        </div>
                </div>
            </div>
            
            <div class="swiper-pagination line-tes"></div>
  
  
        </div>
  
        <div class="mt-30 text-center">
            <a href="#" class="tf-btn white">Registrarse</a>
            <a (click)="global.setRoute('login')" class="tf-btn surface mt-20">Ingresar</a>
  
        </div>  
    </div>
  </div>